* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding-top: 5rem !important;
    padding-bottom: 6rem !important;
    position: relative !important;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.floating-panel {
    backdrop-filter: blur(10px) !important;
    border: 3px solid red /*#454962*/ !important;
    border-radius: 25px !important;
}